# Coding Quiz #1

## 1부터 100 사이의 홀수와 짝수의 누적합을 구하시오. (10점)

In [ ]:
even_sum = 0
odd_sum = 0

for i in range(1, 101):
  if i % 2 ==0:
    even_sum+=i
  else:
    odd_sum+=i

print(even_sum)
print(odd_sum)

  # 코드 입력

2550
2500

## 2부터 100 사이의 소수를 구하는 코드를 작성하시오. (30점)

In [ ]:
for i in range(2, 101):
  if i==2 or i==3 or i==5 or i==7:
    print(i)
  elif (i%2!=0) and (i%3!=0) and (i%5!=0):
    print(i)
  # 코드 입력

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
49
53
59
61
67
71
73
77
79
83
89
91
97

## 가장 짧은 도시 이름을 출력하는 코드를 작성하시오. (30점)

In [2]:
cities = ['daejeon', 'seoul', 'daegu', 'busan', 'chuncheon', 'uijeongbu']
k=0
for i in range(len(cities)):
  if len(cities[i]) < len(cities[i-1]):
    k = len(cities[i])

for i in range(len(cities)):
  if len(cities[i]) == k:
    print(cities[i])

['busan', 'chuncheon', 'daegu', 'daejeon', 'seoul', 'uijeongbu']
busan
daegu
seoul

## 나이에 따른 입장료를 계산하는 코드를 작성하시오. (30점)

* 1~7세: 1000원
* 8~20세: 2000원
* 21~40세: 3000원
* 41~세: 1500원

In [ ]:
age = 30
pay = 0

# 코드 입력
#age = input("나이를 입력하세요")
if age >=1 and age <=7:
  pay = 1000
elif age >=8 and age <=20:
    pay = 2000
elif age >=21 and age <=40:
    pay = 3000
elif age >=41 :
    pay = 1500
print("나이: {0}, 입장료: {1}".format(age, pay))

나이: 30, 입장료: 3000